# Kmeans Clustering

In [1]:
import pyspark
from pyspark.sql import SparkSession
import numpy as np
from pyspark.sql.functions import *
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator

In [2]:
# Change the number of cores in this code block
# by setting `spark.master` to `local[n]` where
# n is the number of cores

conf = pyspark.SparkConf().setAll([('spark.master', 'local[4]'),
                                   ('spark.app.name', 'Basic Setup')])
spark = SparkSession.builder.config(conf=conf).getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/spark-3.2.1/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2022-05-18 19:16:42,912 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2022-05-18 19:16:44,449 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
2022-05-18 19:16:44,449 WARN util.Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
2022-05-18 19:16:44,451 WARN util.Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
df = spark.read.option("header",True).csv("file:///home/work/data/final_movies_df_10.csv", inferSchema=True)
df.printSchema()

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- avg_rating: double (nullable = true)
 |-- movieYear: integer (nullable = true)
 |-- genres: string (nullable = true)
 |-- Crime: double (nullable = true)
 |-- Romance: double (nullable = true)
 |-- Thriller: double (nullable = true)
 |-- Adventure: double (nullable = true)
 |-- Drama: double (nullable = true)
 |-- War: double (nullable = true)
 |-- Documentary: double (nullable = true)
 |-- Fantasy: double (nullable = true)
 |-- Mystery: double (nullable = true)
 |-- Musical: double (nullable = true)
 |-- Animation: double (nullable = true)
 |-- Film-Noir: double (nullable = true)
 |-- Horror: double (nullable = true)
 |-- Western: double (nullable = true)
 |-- Comedy: double (nullable = true)
 |-- Children: double (nullable = true)
 |-- Action: double (nullable = true)
 |-- Sci-Fi: double (nullable = true)

In [4]:
df.show(5)

+-------+--------------------+------------------+---------+--------------------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+------+-------+------+--------+------+------+
|movieId|               title|        avg_rating|movieYear|              genres|Crime|Romance|Thriller|Adventure|Drama|War|Documentary|Fantasy|Mystery|Musical|Animation|Film-Noir|Horror|Western|Comedy|Children|Action|Sci-Fi|
+-------+--------------------+------------------+---------+--------------------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+------+-------+------+--------+------+------+
|   1088|Dirty Dancing (1987)|  3.25002094679514|     1987|Drama|Musical|Rom...|  0.0|    1.0|     0.0|      0.0|  1.0|0.0|        0.0|    0.0|    0.0|    1.0|      0.0|      0.0|   0.0|    0.0|   0.0|     0.0|   0.0|   0.0|
|   1580|Men in Black (a.k...|3.5817083457378187|     1997|Action|Comedy|Sci-Fi|  0.0|    0.0|     0.0|      0.0|  0.0|0.0|        0.0|    0.0|    0.0|    0.0|      0.0|      0.0|   0.0|    0.0|   1.0|     0.0|   1.0|   1.0|
|   3175| Galaxy Quest (1999)|3.6077836141619484|     1999|Adventure|Comedy|...|  0.0|    0.0|     0.0|      1.0|  0.0|0.0|        0.0|    0.0|    0.0|    0.0|      0.0|      0.0|   0.0|    0.0|   1.0|     0.0|   0.0|   1.0|
|  44022|Ice Age 2: The Me...|3.2593627146699773|     2006|Adventure|Animati...|  0.0|    0.0|     0.0|      1.0|  0.0|0.0|        0.0|    0.0|    0.0|    0.0|      1.0|      0.0|   0.0|    0.0|   1.0|     1.0|   0.0|   0.0|
| 175197|The Dark Tower (2...| 2.754918032786885|     2017|Fantasy|Horror|Sc...|  0.0|    0.0|     0.0|      0.0|  0.0|0.0|        0.0|    1.0|    0.0|    0.0|      0.0|      0.0|   1.0|    1.0|   0.0|     0.0|   0.0|   1.0|
+-------+--------------------+------------------+---------+--------------------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+------+-------+------+--------+------+------+
only showing top 5 rows

*Checking null values in each column*

In [5]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+-------+-----+----------+---------+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+------+-------+------+--------+------+------+
|movieId|title|avg_rating|movieYear|genres|Crime|Romance|Thriller|Adventure|Drama|War|Documentary|Fantasy|Mystery|Musical|Animation|Film-Noir|Horror|Western|Comedy|Children|Action|Sci-Fi|
+-------+-----+----------+---------+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+------+-------+------+--------+------+------+
|      0|    0|         0|       24|     0|    0|      0|       0|        0|    0|  0|          0|      0|      0|      0|        0|        0|     0|      0|     0|       0|     0|     0|
+-------+-----+----------+---------+------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+------+-------+------+--------+------+------+

*Printing movies without year in it*

In [6]:
#Doing toPandas() for pretty printing
df.filter(col('movieYear').isNull()).select('title').toPandas()

                                           title
0                                       The King
1   Science Fiction Volume One: The Osiris Child
2                                           Mara
3                               Angel Has Fallen
4                                    Trophy Kids
5                               Falling Inn Love
6                               The Perfect Date
7                              In the Tall Grass
8                                            Tau
9                               Ready Player One
10           The Death & Life of John F. Donovan
11                              The Glass Castle
12                                    38 Parrots
13                                Paradise Hills
14                                  I'm Not Here
15                                   The Factory
16                                The Dead Lands
17                             Nocturnal Animals
18       Millions Game, The (Das Millionenspiel)
19                                      Terminal
20                         The Death of Superman
21                                 The Favourite
22                                     Moonlight
23                    Sherlock: The Blind Banker

In [7]:
df.describe().toPandas()

,summary,movieId,title,avg_rating,movieYear,genres,Crime,Romance,Thriller,Adventure,...,Mystery,Musical,Animation,Film-Noir,Horror,Western,Comedy,Children,Action,Sci-Fi
0,count,24009,24009,24009,23985,24009,24009,24009,24009,24009,...,24009,24009,24009,24009,24009,24009,24009,24009,24009,24009
1,mean,70788.93344162605,None,3.2003455170428925,1994.7507608922242,None,0.10745970261152069,0.14815277604231747,0.17372651922195842,0.09159065350493564,...,0.05747844558290641,0.0301137073597401,0.057436794535382564,0.010745970261152068,0.11041692698571369,0.019159481860968802,0.3237119413553251,0.055895705777000294,0.14290474405431297,0.07580490649339831
2,stddev,62574.92667477875,None,0.4939954796797395,22.038548812964635,None,0.30970326109458013,0.35525876163929826,0.37888203284832367,0.28845323933383626,...,0.23275938305937793,0.1709037405567116,0.23268017569029853,0.10310643614230844,0.3134152526066884,0.13708821565464424,0.4679013134320066,0.22972499630498883,0.3499829709256203,0.2646912177941029
3,min,1,"""""""Great Performances"""" Cats (1998)""",0.6785714285714286,1874,Action,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,max,208737,貞子3D (2012),4.483096085409253,2019,Western,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [8]:
df.columns

['movieId',
 'title',
 'avg_rating',
 'movieYear',
 'genres',
 'Crime',
 'Romance',
 'Thriller',
 'Adventure',
 'Drama',
 'War',
 'Documentary',
 'Fantasy',
 'Mystery',
 'Musical',
 'Animation',
 'Film-Noir',
 'Horror',
 'Western',
 'Comedy',
 'Children',
 'Action',
 'Sci-Fi']

### Creating features

In [9]:
feat_cols = [
 'avg_rating',
 'movieYear',
 'Crime',
 'Romance',
 'Thriller',
 'Adventure',
 'Drama',
 'War',
 'Documentary',
 'Fantasy',
 'Mystery',
 'Musical',
 'Animation',
 'Film-Noir',
 'Horror',
 'Western',
 'Comedy',
 'Children',
 'Action',
 'Sci-Fi']

### Vector assembler to create feature vector column

In [10]:
assembler = VectorAssembler(inputCols=feat_cols, outputCol='features', handleInvalid='skip')
final_df = assembler.transform(df)

In [11]:
final_df.show(5)

2022-05-18 19:17:03,912 WARN util.package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+--------------------+------------------+---------+--------------------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+------+-------+------+--------+------+------+--------------------+
|movieId|               title|        avg_rating|movieYear|              genres|Crime|Romance|Thriller|Adventure|Drama|War|Documentary|Fantasy|Mystery|Musical|Animation|Film-Noir|Horror|Western|Comedy|Children|Action|Sci-Fi|            features|
+-------+--------------------+------------------+---------+--------------------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+------+-------+------+--------+------+------+--------------------+
|   1088|Dirty Dancing (1987)|  3.25002094679514|     1987|Drama|Musical|Rom...|  0.0|    1.0|     0.0|      0.0|  1.0|0.0|        0.0|    0.0|    0.0|    1.0|      0.0|      0.0|   0.0|    0.0|   0.0|     0.0|   0.0|   0.0|(20,[0,1,3,6,11],...|
|   1580|Men in Black (a.k...|3.5817083457378187|     1997|Action|Comedy|Sci-Fi|  0.0|    0.0|     0.0|      0.0|  0.0|0.0|        0.0|    0.0|    0.0|    0.0|      0.0|      0.0|   0.0|    0.0|   1.0|     0.0|   1.0|   1.0|(20,[0,1,16,18,19...|
|   3175| Galaxy Quest (1999)|3.6077836141619484|     1999|Adventure|Comedy|...|  0.0|    0.0|     0.0|      1.0|  0.0|0.0|        0.0|    0.0|    0.0|    0.0|      0.0|      0.0|   0.0|    0.0|   1.0|     0.0|   0.0|   1.0|(20,[0,1,5,16,19]...|
|  44022|Ice Age 2: The Me...|3.2593627146699773|     2006|Adventure|Animati...|  0.0|    0.0|     0.0|      1.0|  0.0|0.0|        0.0|    0.0|    0.0|    0.0|      1.0|      0.0|   0.0|    0.0|   1.0|     1.0|   0.0|   0.0|(20,[0,1,5,12,16,...|
| 175197|The Dark Tower (2...| 2.754918032786885|     2017|Fantasy|Horror|Sc...|  0.0|    0.0|     0.0|      0.0|  0.0|0.0|        0.0|    1.0|    0.0|    0.0|      0.0|      0.0|   1.0|    1.0|   0.0|     0.0|   0.0|   1.0|(20,[0,1,9,14,15,...|
+-------+--------------------+------------------+---------+--------------------+-----+-------+--------+---------+-----+---+-----------+-------+-------+-------+---------+---------+------+-------+------+--------+------+------+--------------------+
only showing top 5 rows

#### We might not need scaling, but did it anyway for learning purpose

In [12]:
from pyspark.ml.feature import StandardScaler
scaler = StandardScaler(inputCol='features',
                       outputCol='scaled_feat',
                       withStd=True,
                       withMean=False
                       )
scaled_model = scaler.fit(final_df)
cluster_df = scaled_model.transform(final_df)

#### Cluster Evaluator to check how close the points in individual clusters are ?

In [13]:
eval = ClusteringEvaluator(predictionCol='prediction',
                          featuresCol='scaled_feat',
                          metricName='silhouette',
                          distanceMeasure='squaredEuclidean')

In [14]:
### KMeans clustering

In [15]:
silhouette_score = []
print("""
Silhouette Scores for K Means Clustering
========================================
Model\tScore\t
=====\t=====\t
""")
for k in range(8,23):
    kmeans_algo = KMeans(featuresCol='scaled_feat',k=k)
    kmeans_fit = kmeans_algo.fit(cluster_df)
    output = kmeans_fit.transform(cluster_df)
    score = eval.evaluate(output)
    silhouette_score.append(score)
    print(f"K{k}\t{np.round(score,3)}\t")

Silhouette Scores for K Means Clustering
========================================
Model	Score
=====	=====

K8	0.271

K9	0.287

K10	0.286

K11	0.297

K12	0.302

K13	0.31

K14	0.363

K15	0.346

K16	0.356
K17	0.364

K18	0.345

K19	0.245

K20	0.393

K21	0.398
K22	0.361

#### The above score should give us idea if points inside clusters are close to each other.

In [16]:
spark.stop()